.btnContainer {
    display: flex;
    justify-content: center;
}

.btnSpotify {
    cursor: pointer;
    height: 3rem;
    width: 11rem;
    background-color: var(--green);
    border: none;
    color: var(--black);
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font);
    border-radius: 3rem;
}