.btnLogin{
    background-color: var(--green);
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    min-width: 11rem;
    min-height: 3rem;
    color: var(--black);
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--font);
    padding: .5rem;
}